* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    padding: 15px;
}

.scoreTime {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 25px;
}

a {
    font-size: 25px;
    color: black;
    text-decoration: none;
}

h3 {
    text-align: center;
    font-size: 30px;
}

p {
    font-size: 20px;
}

.main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    margin-top: 100px;
    margin-bottom: 10px;
}

p {
    margin-top: 40px;
    margin-bottom: 20px;
}

button {
    margin-left: auto;
    margin-right: auto;
}